/11_Laravel_CRUD/pemweb-crud-laravel/*.log
/11_Laravel_CRUD/pemweb-crud-laravel/.DS_Store
/11_Laravel_CRUD/pemweb-crud-laravel/.env
/11_Laravel_CRUD/pemweb-crud-laravel/.env.backup
/11_Laravel_CRUD/pemweb-crud-laravel/.env.production
/11_Laravel_CRUD/pemweb-crud-laravel/.phpactor.json
/11_Laravel_CRUD/pemweb-crud-laravel/.phpunit.result.cache
/11_Laravel_CRUD/pemweb-crud-laravel/.fleet
/11_Laravel_CRUD/pemweb-crud-laravel/.idea
/11_Laravel_CRUD/pemweb-crud-laravel/.nova
/11_Laravel_CRUD/pemweb-crud-laravel/.phpunit.cache
/11_Laravel_CRUD/pemweb-crud-laravel/.vscode
/11_Laravel_CRUD/pemweb-crud-laravel/.zed
/11_Laravel_CRUD/pemweb-crud-laravel/auth.json
/11_Laravel_CRUD/pemweb-crud-laravel/node_modules
/11_Laravel_CRUD/pemweb-crud-laravel/public/build
/11_Laravel_CRUD/pemweb-crud-laravel/public/hot
/11_Laravel_CRUD/pemweb-crud-laravel/public/storage
/11_Laravel_CRUD/pemweb-crud-laravel/storage/*.key
/11_Laravel_CRUD/pemweb-crud-laravel/storage/pail
/11_Laravel_CRUD/pemweb-crud-laravel/vendor
/11_Laravel_CRUD/pemweb-crud-laravel/Homestead.json
/11_Laravel_CRUD/pemweb-crud-laravel/Homestead.yaml
/11_Laravel_CRUD/pemweb-crud-laravel/npm-debug.log
/11_Laravel_CRUD/pemweb-crud-laravel/Thumbs.db
/11_Laravel_CRUD/pemweb-crud-laravel/yarn-error.log
